* {
  font-family: Arial, sans-serif;
}

body {
  width: 75%;
  margin: auto;
}

app-tasks,
app-task,
app-addtask {
  font-size: 0;
}

app-task *,
app-addtask * {
	margin: 0 1em;
  box-sizing: border-box;
  font-size: 1rem;
}

app-task label {
  display: inline-block;
  width: 80%;
}

app-task input,
app-task span {
  width: 10%;
  cursor: pointer;
}

app-addtask input {
  width: 80%;
}

app-addtask button {
  width: 20%;
}