html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 75%;
  margin: auto;
}

.task label {
  display: inline-block;
  width: 20em;
}

app-task div {
  margin: 0.5em;
}

.addTask {
  width: 100%;
}

.task, .addTask {
  font-size: 0;
}

.addTask input {
  font-size: 1rem;
  width: 80%;
}

.addTask button {
  font-size: 1rem;
  width: 20%;
}