

body {
  width: 75%;
  margin: auto;
}

label {
  display: inline-block;
  width: 20em;
}

* {
  box-sizing: border-box;
}


app-task div {
  margin: 0.5em;
}

.addTask {
  width: 100%;
}

.addTask input {
  width: 80%;
}

.addTask button {
  width: 20%;
}